[Desktop Entry]
Name=qClash
Type=Application
Exec=/opt/qClash/qClash
Icon=qClash
Terminal=false
StartupNotify=true
Comment=Clash QT GUI Client.
Categories=Network;
